@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-neutral-800; */
    @apply bg-gradient-to-b from-neutral-800 to-black;
  }
}

/* Use small viewport height for less glitchy mobile experience */

.h-100svh {
  height: 100vh; /* fallback */
  height: 100svh;
}

.h-hero-minus-header {
  height: calc(100vh - 3.5rem); /* fallback */
  height: calc(100svh - 3.5rem); /* hardcoded header height */
}

/* blinking underscore */

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blinking-cursor {
  animation: blink 1s step-start 0s infinite;
}

/* Background image complications */

.bg-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
  top: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

@media (max-width: 639px) {
  .bg-hero {
    background-image: none;
  }
}

@media (min-width: 640px) {
  .bg-hero {
    background-image: url(/img/debugging-noise.jpg);
  }
}
